.blue{
  background-color: lightblue;
}
.pink{
  background-color: pink;
}

.container_01{
  display: flex;
  flex-direction: row;
}

.container_02{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.blue100{
  background-color: lightblue;
  width: 200px;
}
.pinkflex{
  background: lightpink;
  flex: 1;
}
.blueflex{
  background-color: lightblue;
  width: 200px;
  flex: 2;
}


.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;

  margin-top: 20px;
}
.left-section{
  background-color: lightblue;
  width: 150px;
}
.middle-section{
  background-color: lightpink;
  flex: 1;

  max-width: 500px;
  margin: 0px 35px 0px 70px;
}
.right-section{
  background-color: lightblue;
  width: 200px;
}